*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */

:root {
  --ff-primary: 'Oswald', sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;
  
  --fw-med: 500;
  --fw-reg: 400;
  --fw-light: 300;
  --fw-ex-light: 200;

  --clr-main: #029C76;
  --clr-accent: #00BF90;
  --clr-text-bg: #01513D;
}

/* 
BREAKPOINTS: 
width: 501
*/

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

img, embed, object, video {
  max-width: 100%;
}

/* Header */

.title {
  border: 1px solid var(--clr-main);
  padding-top: 20px;
  padding-left: 30px;
  background-color: var(--clr-main);
}

.title-heading a {
  text-decoration: none;
  color: white;
  font-family: var(--ff-primary);
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

/* Navigation */

.nav-list {
  list-style: none;
  display: flex;
  padding: 60px 10px 5px 30px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  padding: 0px;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  margin: 20px;
}

.nav li:first-child a {
  padding-left: 0;
  margin-left: 0;
}

.nav-item a:hover {
  border-bottom: 3px solid var(--clr-accent);
}

li .current-pg {
  color: var(--clr-accent);
  border-bottom: 3px solid var(--clr-accent);
}

/* ------------- DELETE DIV BORDER ------------------ 
div {
  border: 1px solid black;
}
*/
/* -------------- HOMEPAGE - Hero section ----------- */

.hero-background-image {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  min-height: 20rem;
}
#green {
  grid-column: span 4; 
}
#black {
  grid-column-start: 5;
}
#white {
  grid-column-start: 6;
}
    .green-pic {
      width: 120%;
      height: 20rem;
      object-fit: cover;
    }
    .black-shirt {
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }
    .afro {
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }
  
.hero-text {
  float: left;
  background-color: rgba(1, 81, 62, 0.76);
  position: absolute;
  top: 260px;
  left: 30px;
  width: 300px;
  color: white;
  padding: 0px 10px;
  border-radius: 10px;
  line-height: 1.5rem;
}
    .hero-text-heading {
      font-weight: var(--fw-reg);
      font-family: var(--ff-primary);
      font-size: 1.5rem;
      letter-spacing: 0.8px;
      line-height: 1.2em;
    }
    .hero-text-paragraph {
      font-family: var(--ff-secondary);
      font-weight: var(--fw-light);
      font-size: 1.1rem;
    }

button {
  float: left;
  background-color: white;
  position: absolute;
  top: 460px;
  left: 30px;
  min-height: 48px;
  min-width: 48px;
  color: var(--clr-main);
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

button:hover {
  background-color: var(--clr-text-bg);
  color: white;
}

/* ---------- HOMEPAGE - Icons section --------- */

.money-confidence-heading {
  text-align: center;
  color: grey;
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
}

.money-confidence-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  
  max-width: 100%;
}
  .money-confidence-goals {
    padding: 10px;
    margin: 10px;
  }
      .goals-icon {
        display: flex;
        margin: auto;
        width: 30%;
      }
      .money-confidence-goals p {
        padding-top: 6px;
        font-family: var(--ff-secondary);
        font-size: 1.3rem;
        text-align: center;
        font-weight: var(--fw-light);
      }

/* ----------- WHO WE ARE ------------ */

.about-us {
  display: flex;
}

.images {
  float: left;
  margin-top: 30px;
  width: 50%;
}
  .trina {
    width: 287px;
    height: 287px;
    border-radius: 50%;
    margin-left: 30px;
    border: 15px solid var(--clr-accent);
  }
  #name-trina {
    font-family: var(--ff-primary);
    color: var(--clr-main);
    font-size: var(--fs-h3);
    margin-left: 130px;
    margin-top: 2px;
  }
  .shailean {
    width: 287px;
    height: 287px;
    border-radius: 50%;
    margin-left: 320px;
    margin-top: -250px;
    border: 15px solid var(--clr-accent);
  }
  #name-shailean {
    font-family: var(--ff-primary);
    color: var(--clr-main);
    font-size: var(--fs-h3);
    margin-left: 425px;
    margin-top: -1px;
  }
  .pronunciation {
    margin-left: 1px;
    font-weight: var(--fw-ex-light);
    font-size: 1.2rem;
    color: rgb(147, 147, 147);
  }

.about-us-text {
  position: absolute;
  margin: 0px 40px 40px 650px;
  font-family: var(--ff-secondary);
  text-align: left;
  font-weight: var(--fw-light);
  font-size: 1.5rem;
  line-height: 1.5em;
}

/* ----------- YOUR MONEY GOALS ----------- */

.goals h1 {
  text-align: center;
  color: grey;
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  margin: 50px 0px 50px 0px;
}

.goal-images {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  min-height: 20rem;
  background-color: rgba(183, 227, 205, 0.5);
}

  span {
    font-weight: bold;
    color: var(--clr-main);
  }

  .goal {
    grid-template-columns: 1fr;
  }
    .goal-image {
      margin: 1.5rem 0  0 1.5rem;
      border-radius: 100%;
      border: 3px solid var(--clr-accent);
      width: 80%;
      height: 40%;
      object-fit: cover;
    }
    .goal-text {
      padding-top: 6px;
      font-family: var(--ff-secondary);
      font-size: 1.5rem;
      text-align: center;
      font-weight: var(--fw-light);
      line-height: 1.5em;
      width: 100%;
      padding: 1.5rem;
    }

  /* ----------- MEET WITH US ----------- */

.schedule {
  text-align: center;
  color: grey;
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  margin: 50px 0px 50px 0px;
}

.button-container {
  top: -100px;
  left: 40%;
  position: relative;
  
}
  .schedule-button {
    background-color: var(--clr-main);
    color: white;
    font-size: 2rem;
    width: 200px;
    height: 60px;
  }

.coaching-process-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin: 0px 0px 100px 0px;
}
  .process-icon {
    padding: 10px;
    margin: 10px;
  }
    .icon-image {
      display: flex;
      margin: auto;
      width: 30%;
    }
    .process-icon p {
      padding-top: 6px;
      font-family: var(--ff-secondary);
      font-size: 1.5rem;
      text-align: center;
      font-weight: var(--fw-light);
    }
